@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Change Layout", "ChangeLayout", "Manage")</li>
    </ul>
}